/* Стилизация кнопки */
.btn{
    --primary_hover: #2342C0;
    --secondary_hover: #5028C6;
    --transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    padding: 15px 15px 14px 15px;
    height:  48px;
    border-radius: 8px;
    transition: var(--transition);
    border:1px solid var(--border_color,transparent) ;
    background-color: var(--back_color);
    box-sizing: border-box;
}

.btn_text{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-color, var(--white))
}

.btn:disabled{
    opacity: 50%;
    pointer-events: none;
}


.btn_primary{
    --back_color: var(--primary);
}

.btn_primary:hover{
    --back_color: var(--primary_hover);
}


.btn_secondary{
    --back_color: var(--secondary);
}

.btn_secondary:hover{
    --back_color: var(--secondary_hover);
}


.btn_alt{
    --transition:none;
    --border_color: var(--grey-3);
    --back-color: var(--white);
    --text-color: var(--grey-4)
}

.btn_alt:hover{
    --border_color: var(--black);
}