.modal__background{
    background-color: var(--grey-background);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.modal__window{
    position: absolute;
    min-width: 30vw;
    min-height: 5vh;
    background-color: var(--white);
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 30px 40px;
}

.modal__closeicon{
    width: 15px;
    height: 15px; 
    position: absolute;
    right: 15px;
    top:15px;
}

.modal__closeicon:hover{
    color: var(--grey-3);
}

.modal__cross{
    position: absolute;
    height: 15px;
    width: 15px;
}


.modal__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 14px;
    color: var(--grey-blue);
}

.modal__msg{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

