.avatar{
    border-radius: 50%;
    height: 102px;  /* ставим только height потому  что div - display:block - занимает всю ширину контейнера */
    width: 102px;
    overflow: hidden;
}

.avatar_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; /* здесь ставим block потому что img изначально inline элемент  - может не занять всю высоту контейнера*/
}

