.calendar{
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 28px 26px;
    max-width: 300px;
    width: 100%;

}

.calendar__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    color: var(--grey-blue);
    margin-bottom: 24px;
}

.calendar__wrapper{
    position: relative;
    padding-bottom: 100%;
}

.calendar__inner{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
}

.calendar__flexitem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__elem-weekday{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: var(--soft-grey);
}

.calendar__elem-date{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.calendar__elem-date_unselected{
    color: var(--grey-blue);
}

.calendar__elem-date_inrange{
    background-color: var(--soft-blue);
}

.calendar__elem-date_selected{
    background-color: var(--blue);
    color:var(--white);
}



